<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    header {background-color: black;}
</style>
<body>
    <header>
         <nav class="navbar fixed-top navbar-black bg-black navbar-expand-sm navbar-toggleable-sm   border-bottom box-shadow mb-3" id="navegador">
  
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="lista">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Cartas" asp-action="Carta">Carta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Cliente" asp-action="PagoCliente">Pago</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Cliente" asp-action="BoletaCliente">Boleta</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
        </nav>

        <div>
            <img src="../img/Usuario.jpg" alt="Usuario">
        </div>
    </header>
    

    
    <div class="card text-white bg-primary">
      <img class="card-img-top" src="../img/fondogeneral.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>


</body>
</html>
