@{
    
    Layout="_LayoutCliente";
}
@model NARANJA.Models.Reservas
    

<form asp-controller="Reservas" asp-action="CrearReserva">
    <label asp-for="n_personas" class="control-label"></label>
     <input asp-for="n_personas"  class="form-control" />


      <label asp-for="Telefono" class="control-label"></label>
     <input asp-for="Telefono" type="text" class="form-control" />

    
     <label asp-for="ocasion" class="control-label"></label>
     <input asp-for="ocasion" type="text" class="form-control" />

     <label asp-for="fecha" class="control-label"></label>
     <input asp-for="fecha"  class="form-control" />
     
     <label asp-for="hora" class="control-label"></label>
     <input asp-for="hora" type="time" class="form-control" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button> 
    </div>              
</form>
<h1>@ViewData["Message"]</h1>