@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutCliente";
}

<h1 class="text-center" >BOLETA</h1>
<hr width="400" size="15" noshade="noshade">


<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-4">
                               <strong>N°</strong> 
    </div>
    <div class="col-4">
                            <strong> DESCRIPCION</strong>
    </div>
    <div class="col-4">
                          <strong>COSTO</strong>  
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-4">
      1
    </div>
    <div class="col-4">
     Salchipapa 
    </div>
    <div class="col-4">
      $/. 15.00 
    </div>
  </div>
</div>

<br>
<br>

<div class=" alert alert-info text-right">
    TOTAL: $/.15.00
</div>

<br>
<br>

<div>
<button type="button" class="btn btn-success center">VOLVER</button>
</div>