@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutCliente";
}
<h1 class="text-center" >Carta</h1>
<hr width="400" size="15" noshade="noshade">
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <img src="../img/salchipapa1.jpg" class="rounded float-start" title=" salchipapa" width="200 px " height="200 px" >
      </div>
      <div class="col">
        <h2> Salchipapa</h2>
        <br>
 <button type="button" class="btn btn-dark">Comprar</button>
      </div>
    </div>
  </div>
  
<br>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../img/salchipollo1.jpg" class="rounded float-start" title=" salchipapa" width="200 px " height="200 px" >
      </div>
      <div class="col">
        <h2> Salchipollo</h2>
        <br>
       <button type="button" class="btn btn-dark">Comprar</button>
      </div>
    </div>

<br>

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../img/aguadito1.jpg" class="rounded float-start" title=" salchipapa" width="200 px " height="200 px" >
      </div>
      <div class="col">
        <h2> Aguadito</h2>
        <br>
  <button type="button" class="btn btn-dark">Comprar</button>
  
      </div>
    </div>
  </div>