@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutCliente";
}

<h1 class="text-center" >COMBOS</h1>
<hr width="400" size="15" noshade="noshade">


<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-8">
                               <strong>COMBO  ..............................................................................................................................................................</strong> 
    </div>
    <div class="col-4">
                            <strong> $/. 20.00</strong>
  </div>
</div>

<br>
<br>

<div>
<button type="button" class="btn btn-success center">SIGUIENTE</button>
</div>