@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutCliente";
}

<h1 class="text-center" >ESPECIALIDADES</h1>
<hr width="400" size="15" noshade="noshade">

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-6">
                               <strong>DESCRIPCION</strong> 
    </div>
    <div class="col-5">
                            <strong> PRECIO</strong>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-6">
      Lasaña
    </div>
    <div class="col-5">
    $/. 30.00 
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-6">
      Pasta al Pesto
    </div>
    <div class="col-5">
    $/. 30.00 
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-6">
      Pollo a la Brasa
    </div>
    <div class="col-5">
    $/. 30.00 
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-6">
      Pollo a la Toronja
    </div>
    <div class="col-5">
    $/. 21.00 
    </div>
  </div>
</div>

<br>
<br>

<div>
<button type="button" class="btn btn-success center">SIGUIENTE</button>
</div>