@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutCliente";
}

<h1 class="text-center" >OFERTAS</h1>
<hr width="400" size="15" noshade="noshade">

<br>
<br>

<div>
    <h3>1. Salchipapa 20% Desc.</h3>
    
</div>

<br>

<div>
    <h3>2. Salchipollo 10% Desc.</h3>
    
</div>

<br>

<div>
    <h3>3. Aguadito del dia anterior 30% Desc.</h3>
    
</div>

<br> 

<div>
<button type="button" class="btn btn-success center">SIGUIENTE</button>
</div>