@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutCliente";
}

<h1 class="text-center" >RESERVAS</h1>
<hr width="400" size="15" noshade="noshade">

<br>
<br>

<div>
    <h3>Nombres</h3>
     <input class="form-control" type="text" placeholder="">
</div>

<br>
<br>

<div>
    <h3>Apellidos</h3>
     <input class="form-control" type="text" placeholder="">
</div>

<br>
<br>

<div>
    <h3>Fecha</h3>
    <input class="form-control" type="text" placeholder="">
</div>

<br>
<br>

<div>
    <h3>Numero de Personas</h3>
     <input class="form-control" type="text" placeholder="">
</div>

<br>

<div>
<button type="button" class="btn btn-success center">RESERVAR</button>
</div>