

<div style="text-align: center; position: relative;">

    <div >
     <img src="D:\Universidad San Martin de Porres\2021-1\PROGRAMACION 1\lab\Administrador\NARANJA\wwwroot\img\mantel.jpg" alt="..." >
    <div style="position: relative; top: -870px; right: 200px; " >
        <img src="D:\Universidad San Martin de Porres\2021-1\PROGRAMACION 1\lab\Administrador\NARANJA\wwwroot\img\salchipap.jpg" alt="..." width="150" height="150" style="border-radius:35px;border:10px solid black;">
    </div>
    <div >
    <h1 style="position: relative; top: -1100px; right: -200px; font-family: 'Times New Roman', Times, serif; font-size:35px;">SalchiPapas</h1>
    <div style="position: relative; top: -1100px; right: -200px; font-family: 'Times New Roman', Times, serif; font-size:10px; ">
        <h2>Papas fritas en dos tiempo, con salchichas</h2>
        <h2>de primera calidad y cremas</h2>
        <h2>variadas</h2>
    </div>
    

    <button style="font-size:20px;
    font-family:Roboto Slab;
    font-weight:bold;
    color:white;
    background:#000000;
    border:0px;
    width:150px;
    height:30px; border-radius:35px;
    position: relative; top: -1100px; right: -200px;">MODIFICAR</button>
    </div>
    
    
</div>
</div>
    