@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutAdministrador";
}

<div class="col-md-7" style="position: relative;" >
 <img src="~/img/mantel.jpg" alt="..." width="1000" height="1050" style="position:absolute;border-radius:35px;"  >

<div>   
<h1 class="text-center fs-1" style="margin: 40px; ">MOFICAR CARTA</h1>
<div class="CARTA">
<div class="card mb-3" style="max-width: 940px; right: -200px; ">
  <div class="row g-0" >
    <div class="col-md-4">
      <img src="~/img/salchipollo.jpg" alt="..." width="200" height="300" >
    </div>
    <div class="col-md-8" >
      <div class="card-body">
       
        <p  style="text-align: justify; font-family: 'Times New Roman', Times, serif; font-size:35px;">SALCHIPAPAS </p>
         <div style="position: relative;  font-family: 'Times New Roman', Times, serif; font-size:0px; ">
        <h2>Papas fritas en dos tiempo, con salchichas</h2>
        <h2>de primera calidad y cremas variadas</h2>
      
    </div>  
          <button style="font-size:20px;
    font-family:Roboto Slab;
    font-weight:bold;
    color:white;
    background:#000000;
    border:0px;
    width:150px;
    height:30px; border-radius:35px; ">MODIFICAR</button> 
           </div>
    </div>
  </div>
</div>
        </div>

<div class="card mb-3" style="max-width: 940px;right: -200px;">
  <div class="row g-0">
    
    <div class="col-md-8">
      <div class="card-body">
       
        <p  style="text-align: justify; font-family: 'Times New Roman', Times, serif; font-size:35px;">DESCRIPCION </p>
           
          <button style="font-size:20px;
    font-family:Roboto Slab;
    font-weight:bold;
    color:white;
    background:#000000;
    border:0px;
    width:150px;
    height:30px; border-radius:35px; ">MODIFICAR</button> 
           </div>
    </div>
    <div class="col-md-4">
      <img src="~/img/descarga.jfif" alt="..." width="200" height="230" >
    </div>
  </div>
</div>
        </div>
        <div class="CARTA">
<div class="card mb-3" style="max-width: 940px; right: -200px; ">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/salchipollo.jpg" alt="..." width="200" height="230" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
       
        <p  style="text-align: justify; font-family: 'Times New Roman', Times, serif; font-size:35px;">DESCRIPCION </p>
           
          <button style="font-size:20px;
    font-family:Roboto Slab;
    font-weight:bold;
    color:white;
    background:#000000;
    border:0px;
    width:150px;
    height:30px; border-radius:35px; ">MODIFICAR</button> 
           </div>
    </div>
  </div>
</div>
        </div>
