@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutAdministrador";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="bodyperfil">
    <div class="imagendefond">
      <img src="~/img/fondo12.jpg" alt="..." width="1100" height="700" style="position:absolute;border-radius:35px;"  >     
    <div style="position:relative;border-radius:35px;right: 35px; top:50px;">
    <h1 style="text-align: center; font-family: 'Algerian'; font-size:50px; color:white;">MI PERFIL</h1>
    </div>
    <div style="position:relative;border-radius:35px;right: 35px; top:50px; right: -200px;">
        
         

        <div class="col-md-4" style="width: 800px;">
    <label for="inputNombre4" class="form-label" style="color: white; ">Nombre *</label>
    <input type="text" class="form-control" id="inputNombre4">
    </div> <br><br><br><br><br>
     
     <div class="col-md-4">
    <label for="inputApellido4" class="form-label" style="color: white; ">Apellidos *</label>
    <input type="text" class="form-control" id="inputapellido4">
    </div> <br><br><br><br><br>

     <div class="col-md-5">
    <label for="inputEmail4" class="form-label" style="color: white; ">Email * </label>
    <input type="email" class="form-control" id="inputEmail4">
    </div><br><br><br><br><br>

       <div class="col-md-5">
    <label for="inputCargo4" class="form-label" style="color: white; ">Cargo o ROL * </label>
    <input type="text" class="form-control" id="inputCargo4">
    </div><br><br><br><br><br>  

    <div class="col-md-4">
    <label for="inputDNI4" class="form-label" style="color: white; ">DNI *</label>
    <input type="number" class="form-control" id="inputDNI4">
    </div> <br><br><br><br><br>


    </div>
    

    
</div>
</div>


