@{
    ViewData["Title"] = "Home Page";
    Layout="_LayoutAdministrador";
}


<h1>Reservas</h1>
<form action="" method="post" target="_blank">
  <p>
    Busca un fecha: <input type="date" name="busquedacodigo" size="4" maxlength="4">
    <input type="submit" value="Buscar">
  </p>
</form>
<table>
<thead>
    <tr>
      <th>Fecha</th>
      <th>Motivo</th>
      <th>Personas</th>
      <th>algun plato especial</th>
    </tr>
  </thead>
  </table>